@model PaymentMS.UI.Web.ViewModels.Balance.BalanceProviderViewModel

@{
    Layout = null;
}


@Html.HiddenFor(m=>m.HasStipeReceiver)

<div class="row">
    <div class="col-md-12">
        @if (Model.IsBalanceProvider)
        {
            <h6 style="color: cadetblue">Is Balance Provider</h6>
        }
        else
        {
            <h6 style="color: firebrick">Is Not Balance Provider</h6>
        }
    </div>
</div>

<br/>    

<div class="row">
    <div class="col-md-12 form-group">
        @Html.DisplayNameFor(model => model.ProviderOrganizationId)
        @Html.TextBoxFor(model => model.ProviderOrganizationId, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProviderOrganizationId)
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12 form-group">
        @Html.DisplayNameFor(model => model.ProviderOrganizationName)
        @Html.TextBoxFor(model => model.ProviderOrganizationName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProviderOrganizationName)
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        Credit Limit
        @Html.TextBoxFor(m => m.CreditLimit, new { style = "width:60px" })
        @Html.DropDownListFor(m => m.Currency, Model.CurrencyList, new { style = "width:80px" })
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        Do we need first time pre-pay option?
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12 form-group">
        @Html.CheckBoxFor(model => model.IsWireTransferIncomeEnabled)
        @Html.LabelFor(model => model.IsWireTransferIncomeEnabled)
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12 form-group">
        @Html.CheckBoxFor(model => model.IsStripeCardIncomeEnabled)
        @Html.LabelFor(model => model.IsStripeCardIncomeEnabled)
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12 form-group">
        @Html.DisplayNameFor(model => model.StripeSecretKey)
        @Html.TextBoxFor(model => model.StripeSecretKey, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StripeSecretKey)
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12 form-group">
        @Html.DisplayNameFor(model => model.StripePublicKey)
        @Html.TextBoxFor(model => model.StripePublicKey, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StripePublicKey)
    </div>
</div>

<br />

<div class="row">
    <button type="submit" class="btn btn-primary col-md-12">
        Save configuration
    </button>
</div>