@model PaymentMS.UI.Web.ViewModels.Balance.IncreaseViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        Current Balance: 
        <span>@Model.CurrentAmount</span>
        @Html.DropDownListFor(m => m.Currency, Model.CurrencyList, new
        {
            style = "width:80px",
            disabled="disabled"
        })
    </div>
</div>

<br />

<div>
    @await Html.PartialAsync("CurrentCard", Model.CurrentCard)
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        Increase Balance on: 
        @Html.TextBoxFor(m => m.AddAmount, new
        {
            style = "width:60px",
            disabled = Model.CurrentCard == null ? "disabled" : ""
        })
        @Html.DropDownListFor(m => m.Currency, Model.CurrencyList, new
        {
            style = "width:80px",
            disabled="disabled"
        })
    </div>
</div>

<br/>

<button type="submit" class="btn btn-primary col-md-12">
    Increase client balance
</button>

@if (!Model.ErrorMessage.IsNullOrEmpty())
{
    <script>
        alert("@Model.ErrorMessage");
    </script>
}

<script>
    setTimeout(() => {

        if ($(".card").length) {
            $("#@Html.IdFor(m=>m.AddAmount)").prop("disabled", false);
        }

    },
    800);
</script>