@model PaymentMS.UI.Web.ViewModels.Balance.BalancePayViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        Current Balance: 
        <span>@Model.CurrentAmount</span>
        @Html.DropDownListFor(m => m.Currency, Model.CurrencyList, new
        {
            style = "width:80px",
            disabled="disabled"
        })
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        Credit Limit:
        <span>@Model.CreditLimit</span>
        @Html.DropDownListFor(m => m.Currency, Model.CurrencyList, new
        {
            style = "width:80px",
            disabled="disabled"
        })
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        Payment Amount: 
        @Html.TextBoxFor(m => m.PaymentAmount, new { style = "width:60px" })
        @Html.DropDownListFor(m => m.Currency, Model.CurrencyList, new
        {
            style = "width:80px",
            disabled="disabled"
        })
    </div>
</div>

<br/>

<button type="submit" class="btn btn-primary col-md-12">
    Pay
</button>