@model AddStripeReceiverViewModel

<div class="container">
    
    <div class="offset-2 col-8">
        <div class="row">
            <h2 class="col-md-12 text-center">Payment Receivers</h2>
        </div>

        <br />

        <div class="row" style="color: #aaa; font-size: 13px">
            <div class="col-md-12 text-center">
                Stripe provides banking infrastructure required to make and receive online payment by credit/debit cards.<br />
                Create <a href="https://dashboard.stripe.com/register" target="_blank">Stripe account</a> and input secret and public keys below to direct receive payments from your customers.<br />
                You can find you keys on <a href="https://dashboard.stripe.com/test/apikeys" target="_blank">this page</a> after registration.
            </div>
        </div>

        <br />
    </div>

    <div class="offset-3 col-md-6" data-url="@Url.Action("AddReceiver")">

        @await Html.PartialAsync("Notification", Model)

        <form id="payment-form" action="@Url.Action("AddReceiver")" method="post">

            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.DisplayNameFor(model => model.ReceiverOrganizationId)
                    @Html.TextBoxFor(model => model.ReceiverOrganizationId, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.ReceiverOrganizationId)
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.DisplayNameFor(model => model.ReceiverOrganizationName)
                    @Html.TextBoxFor(model => model.ReceiverOrganizationName, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.ReceiverOrganizationName)
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.DisplayNameFor(model => model.SecretKey)
                    @Html.TextBoxFor(model => model.SecretKey, new {@class = "form-control"})                    
                    @Html.ValidationMessageFor(model => model.SecretKey)
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.DisplayNameFor(model => model.PublicKey)
                    @Html.TextBoxFor(model => model.PublicKey, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.PublicKey)
                </div>
            </div>

            <br/>

            <div class="row">
                <button type="submit" class="btn btn-primary col-md-12">
                    Add Receiver
                </button>
            </div>
        </form>

        <br/>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <h4>Payment Receiver List:</h4>
                @foreach (var receiver in Model.ReceiverList)
                {
                    <div class="row form-check">
                        <label for="@receiver.ReceiverOrganizationId" class="form-check-label">@receiver.ReceiverOrganizationName</label>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>
