@model PaymentMS.UI.Web.ViewModels.Balance.AddBalanceClientViewModel

@{
    ViewBag.Title = "Balance Client";
    Layout = "_Layout";
}

<div class="container">
    <div class="offset-2 col-md-8">

        <div class="row">
            <h2 class="col-md-12 text-center">Balance Client</h2>
        </div>

        <br />

        @await Html.PartialAsync("Notification", Model)
        
        <br/>

        <form action="@Url.Action("AddBalanceClient")" method="post">
            <div class="row">
                <div class="col-md-12">
                    <h6>Balance providers:</h6>
                    @foreach (var receiver in Model.ReceiverList)
                    {
                        <div class="row form-check">
                            @Html.RadioButtonFor(model => model.SelectedProviderId, receiver.OrganizationId,
                                new
                                {
                                    id = receiver.OrganizationId,
                                    @class = "form-check-input",
                                    style = "margin-top: 8px;",
                                    @checked = receiver.OrganizationId == Model.SelectedProviderId
                                })
                            <label for="@receiver.OrganizationId" class="form-check-label">@receiver.OrganizationName</label>
                        </div>
                    }

                </div>
            </div>

            <br />

            <div data-url="@Url.Action("BalanceClient")"></div>
        </form>
    </div>
</div>

<script>
    let selectedRadioBtn = $("[type=radio]:checked:first");
    initStateByRadioControl(selectedRadioBtn);

    $("input[name=SelectedProviderId]").change(function () {
        var selectedRadioBtn = $(this);
        initStateByRadioControl(selectedRadioBtn);
    });

    function initStateByRadioControl(selectedRadioBtn) {
        const div = $("div[data-url]");
        div.load(div.attr("data-url") + "?providerId=" + selectedRadioBtn.attr("id"), function() {


        }, function(error) {
            console.log(error);
        });
    }
</script>
